@use '@styles/mixins' as m;

$color-spring: #FBDEE2;
$color-summer: #A5DEE5;
$color-autumn: #FCC796;
$color-winter: #A5C1BF;
$color-text-spring: #20AC03;
$color-text-summer: #F86820;
$color-text-autumn: #324700;
$color-text-winter: #666699;

@keyframes pathmove {
    0% {
        height: 0;
        top: 0;
        opacity: 0;
    }

    30% {
        height: 30px;
        opacity: 1;
    }

    100% {
        height: 0;
        top: 50px;
        opacity: 0;
    }
}

.title-area {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    color: #000000;
    font-family: "Libre Baskerville", serif;
    padding: 20vh 40px;

    &-spring {
        background: linear-gradient(180deg, $color-winter 0%, $color-spring 100%);
    }

    &-summer {
        background: linear-gradient(180deg, $color-spring 0%, $color-summer 100%);
    }

    &-autumn {
        background: linear-gradient(180deg, $color-summer 0%, $color-autumn 100%);
    }

    &-winter {
        background: linear-gradient(180deg, $color-autumn 0%, $color-winter 100%);
    }

}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    height: 100%;
    margin-inline: auto;
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1em;
    text-align: center;
    text-shadow: 4px 0px 3px rgba(255, 255, 255, 0.8);
    @include m.sp {
        font-size: 24px;
    }

    .title-text {
        &-spring {
            color: $color-text-spring;
        }

        &-summer {
            color: $color-text-summer;
        }

        &-autumn {
            color: $color-text-autumn;
        }

        &-winter {
            color: $color-text-winter;
        }

        &:nth-child(1) {
            margin-right: auto;
        }

        &:nth-child(2) {
            margin-left: auto;
        }
    }
}

.bg-area {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    &-kv {
        background-color: #DADADA;

    }

    &-spring {
        background-image: url("/img/page/sample/001/bg-spring.jpg");
    }

    &-summer {
        background-image: url("/img/page/sample/001/bg-summer.jpg");
        ;
    }

    &-autumn {
        background-image: url("/img/page/sample/001/bg-autumn.jpg");
        ;
    }

    &-winter {
        background-image: url("/img/page/sample/001/bg-winter.jpg");
    }

}

.bg-inner {
    width: 100%;
    height: 100%;
    max-width: 900px;
    margin-inline: auto;
}

.bg-layer {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(#000000, 0.4), rgba(#000000, 0.4));
    z-index: -1;
}

.kv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "Libre Baskerville", serif;

    &__title {
        color: #FFFFFF;
        font-size: 42px;
        letter-spacing: 0.2em;
        text-indent: 0.2em;
        text-shadow: 4px 0px 3px rgba(0, 0, 0, 0.3);
        @include m.sp {
            font-size: 30px;
        }
    }

    &__scroll-down {
        position: absolute;
        left: 50%;
        bottom: 0;
        height: 90px;
        @include m.sp {
            height: 0;
            bottom: -20px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 1px;
            height: 30px;
            background: #FFFFFF;
            animation: pathmove 1.4s ease-in-out infinite;
            opacity: 0;
        }

        span {
            position: absolute;
            left: -15px;
            top: -15px;
            color: #FFFFFF;
            font-size: 0.7rem;
            letter-spacing: 0.05em;
        }
    }
}

.content {
    height: 100%;
    padding: 20vh 40px;
    color: #FFFFFF;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    @include m.sp {
        padding: 16px;
    }

    &__title {
        font-size: 36px;
        font-weight: 700;
        @include m.sp {
            font-size: 28px;
        }
    }

    &__subtitle {
        font-size: 28px;
        margin-top: 30px;
        font-weight: 400;
        @include m.sp {
            font-size: 20px;
        }
    }

    &__paragraph {
        font-size: 20px;
        margin-top: 20px;
        line-height: 1.7;
        @include m.sp {
            font-size: 16px;
        }

        &+& {
            margin-top: 16px;
        }
    }
}