.key-visual {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    height: 100vh;
    text-align: center;
    background:linear-gradient(0deg, rgba(18, 18, 18, 1) 0%, rgba(18, 18, 18, 0.5) 30%, rgba(0, 0, 0, 0.5)), url('../../../public/img/kv/bg.jpg');
    background-size: cover;
    background-position: center;
    &--visible {
        animation: fadeIn 1s ease forwards;
    }
    &--invisible {
        animation: fadeOut 1s ease forwards;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}